@import './mdsheet';
@import './handwrittensheet';

.Notebook {
    display: flex;
    
    padding: 15px 30px;
    aspect-ratio: 16/9;
    max-height: 80vh;
    max-width: 90vw;
	min-width: 300px;
    background-color: $notebook-color;
    margin: auto;
    border-radius: 20px;
    box-shadow: $main-shadow;
	@media (max-width:800px) {
		aspect-ratio: auto;
		height: 100vh;
	}
	@media (max-width:628px) {
		flex-direction: column;
		gap: 5px;
		padding: 10px;
	}
}
