@import "./scss/base";
@import "./scss/colors";
@import "./scss/fonts";
@import "./scss/components/cloth";
@import "./scss/components/header";
@import "./scss/components/notebook";

html{
	@media (max-width:650px) {
		font-size: 13px;
	}
}
body{
	background-image: linear-gradient($table-color-a, $table-color-b);
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
}
